.cols-1 {
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 7.333%;
}

.cols-2 {
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 15.666%;
}

.cols-3 {
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 24%;
}

.cols-4 {
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 32.332%;
}

.cols-5 {
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 40.665%;
}

.cols-6 {
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 48.998%;
}

.cols-7 {
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 57.331%;
}

.cols-8 {
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 65.664%;
}

.cols-9 {
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 73.997%;
}

.cols-10 {
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 82.33%;
}

.cols-11 {
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 90.663%;
}

.cols-12 {
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 98.99%;
}